<div class="meme">
    <a href="#/details/meme/{{_id}}" class="meme-title">{{title}}</a>
    <br>
    <a href="#/details/meme/{{_id}}"><img class="meme-image" src="{{imageUrl}}"></a>
    <div class="info">

        <div id="data-buttons">
            <a href="#/details/meme/{{_id}}" class="custom-button">Check Out</a>
            {{#if isAuthor}}
            <a href="#/edit/meme/{{_id}}" class="custom-button">Edit</a>
            <a href="#/delete/meme/{{_id}}" class="custom-button">Delete</a>
            {{/if}}
            <a href="#/user/{{creatorId}}" class="creator">Creator: {{creator}}</a>
        </div>
    </div>
    <hr>
</div>